.notify-active-up{
    transform: translate(-50%, -150%) !important;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity .1s .5s;
}
.notify-deactive{
    transform: translate(-50%, -50%);
}
.notify-active-down{
    transform: translate(-50%, 50%) !important;
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity .1s 0.5s;
}

.paper-plane-deactive{
    transform: translateX(-100%);
}
.paper-plane-active{
    transform: translateX(300%);
    transition: transform 1s 0.3s ease-in-out;
}

.status-deactive{
    transform: translate(-50%, 50%);
}
.status-active-middle{
    opacity: 1;
    transform: translate(-50%, -50%) !important;
    transition: transform .3s ease-in-out;
}
.status-active-up{
    opacity: 1;
    transform: translate(-50%, -150%);
    transition: transform 0.3s ease-in-out;
}

.icon-animate{
    animation: enlarge-icon .5s .3s linear;
}
.text-animate{
    animation: enlarge-text .5s .3s linear;
}

@keyframes enlarge-icon {
    0% {
        width: 1.75rem;
    }
    25% {
        width: 2.1rem;
    }
    75% {
        width: 2.1rem;
    }
    100% {
        width: 1.75rem;
    }
}
@keyframes enlarge-text {
    0% {
        font-size: 1.125rem;
    }
    25% {
        font-size: 1.3rem
    }
    75% {
        font-size: 1.3rem
    }
    100% {
        font-size: 1.125rem
    }
}