.popup-rundown {
    opacity: 0;
}

.steps-container{
    color: rgba(128, 128, 128, 0.5);
}

.steps-container .current .triangle-right{
    right: 0 !important;
}
.steps-container .current .text{
    background: linear-gradient(90.35deg, #FFC0E2 7.53%, #B2B6FF 99.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight:700;
}

.steps-container .before .white-cover{
    opacity: 0;
    color: #F5F5F6 !important;
}
.steps-container .before .text{
    color: #F5F5F6 !important;
}

.steps-container .step{
    transition: all .3s !important;
}

.requirements .fading-cover{
    background: linear-gradient(180deg, #ae202000 72.22%, #FAFAFF 99.78%);
    opacity: 0.8;
    width:100%;
    bottom:0;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

/* .overflow-y-scroll{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.overflow-y-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
#overflow-y-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
#overflow-y-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} */

#input-proof{
    height: 3rem;
}

@media (min-width: 1024px){
    .content-right{
        margin-left: 33vw;
    }

}

@media (max-width: 640px){
    .white-container{
        width: 90vw;
    }

}

