.title-colored-shadow{
    background: linear-gradient(90.35deg, #FFC0E2 7.53%, #B2B6FF 99.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 5px 20px rgba(255, 192, 226, 0.55);
}

.title-colored{
    background: linear-gradient(90.35deg, #FFC0E2 7.53%, #B2B6FF 99.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.title-colored .underline{
    background: linear-gradient(90.35deg, #FFC0E2 7.53%, #B2B6FF 99.4%);
}

.border-colored{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 50px;
}

.border-colored::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:15px; 
    padding:2px; 
    background: linear-gradient(90.35deg, #FFC0E2 7.53%, #B2B6FF 99.4%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}

/* event */
.event-wrapper .date, .event-wrapper .card-list{
    opacity: 0;
}

.event-active *{
    transition: all 1s ease;
}

.event-active .date{
    opacity: 1 !important;
}

.card-list-active{
    opacity: 1 !important;
    transform: translatey(-10px);
}
/* end event */

/* faq */
.answer-container{
    opacity: 0;
    overflow: hidden;
    max-height: 0px;
    transition: all .5s ;
}

.answer-container.active{
    opacity: 1 !important;
    transition: all .5s ;
}
/* end faq */

/* share */
.share-button.active .text{
    transition: all .4s ease;
    transform: translateX(-110%);
}
/* end share */


.img{
    transition: all .3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/virtual-conference/highlights-1.png');

}

.active{
    width: 100%;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45)), url('../assets/virtual-conference/highlights-1.png');
}


.active .tittleHighlight{
    transform: rotate(0deg);
    margin-bottom: 1.25rem;
}

.tittleHighlight{
    transform: rotate(-90deg);
    text-align: center;
    white-space: nowrap;
}

@media only screen and (max-width: 1024px){
  .active{
    height: 20rem;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45)), url('../assets/virtual-conference/highlights-1.png');
}


.tittleHighlight{
    transform: rotate(0deg);
    text-align: center;
}
}

@media only screen and (max-width: 767px){
  .active{
    height: 8rem;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45)), url('../assets/virtual-conference/highlights-1.png');
}


.tittleHighlight{
    transform: rotate(0deg);
    text-align: center;
}
}
/* end highlight */